<ion-header>
  <ion-toolbar>
    <ion-title>Construções Disponíveis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let building of buildings" (click)="selectBuilding(building)">
      <ion-avatar slot="start">
        <img [src]="building.image" alt="{{ building.name }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ building.name }}</h2>
        <p>Valor: {{ building.cost }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
