:host {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px; /* largura do navbar */
    background-color: #ffffff; /* cor de fundo */
    border-left: 1px solid #ccc; /* borda esquerda */
    z-index: 1000; /* z-index para sobrepor outros elementos */
  }
  
  ion-header {
    flex-shrink: 0; /* Não encolher o cabeçalho */
  }
  
  ion-content {
    flex-grow: 1; /* Crescer para ocupar o espaço restante */
    overflow-y: auto; /* Adicionar barra de rolagem vertical, se necessário */
  }
  
  .menu-section {
    padding: 10px;
    display: none; /* Ocultar seção de menu por padrão */
  }
  
  .show-build-menu .menu-section:first-child,
  .show-inventory-menu .menu-section:last-child {
    display: block; /* Exibir a seção de menu correspondente quando ativada */
  }
  
  ion-button {
    width: 100%;
    text-align: left;
  }
  