<div class="container">
  
  <div class="game-container">
    <div class="image-container">
      <a class="map-background"></a>
      <div class="game-grid">
        <div *ngFor="let row of grid; let i = index" class="game-row">
          <div *ngFor="let cell of row; let j = index" class="game-cell" [ngClass]="{
            'game-cell': true,
            'highlighted': highlightedCell?.row === i && highlightedCell?.col === j,
            'buildable': buildable[i][j],
            'building': grid[i][j] === 'building'
          }" (click)=" openBuildingModal(i, j)">
            <!-- <ng-container *ngIf="showButtons && buildRow === i && buildCol === j">
              <ion-buttons>
                <ion-button (click)="confirmBuilding()">ok</ion-button>
                <ion-button (click)="cancelBuilding()">x</ion-button>
              </ion-buttons>
            </ng-container>-->
            <ng-container *ngIf="!!cell">
              <img [src]="cell" alt="Building" [class.house-cell]="i === houseCell?.row && j === houseCell?.col">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>