<app-navbar></app-navbar>
<div class="container">
  <div class="game-container">
    <div class="image-container">
      <a class="map-background"></a>
      <div class="game-grid">
        <div *ngFor="let row of grid; let i = index" class="game-row">
          <div *ngFor="let cell of row; let j = index" class="game-cell" [ngClass]="{
            'game-cell': true,
            'highlighted': isHighlighted(i, j),
            'buildable': buildable[i][j]
        }" (click)=" openBuildingOrInfo(i, j, cell)">
            <ng-container *ngIf="!!cell">
              <img [src]="cell.src" alt="Building" [class.build-cell]="i === buildCell?.row && j === buildCell?.col">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>